html {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: dimgrey;
}

canvas {
  margin: 50px 0;
  border-radius: 50px;
  box-shadow: 0 0 100px black;
}

.hud {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}

.message-board {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  width: 80vw;
  background-color: black;
  border-radius: 10px;
  color: white
}

.message-board p {
  width: 80%;
  height: 100%;
  text-align: center;
  font-size: 25px;
}

.control-legend {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80vw;
  border-radius: 5px;
  background-color: black;
  color: white
}

.display {
  background-color: lightgray;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 20px;

}

.resource-display {
  background-color: rgb(208, 209, 170);
}

.health-display {
  background-color: rgb(187, 211, 175);
}

.bomb-power-display {
  background-color: rgb(216, 170, 170);
}

.display h1 {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  width: 90%;
  border-bottom: 2px solid dimgrey;
}

.display span {
  font-size: 25px;
}
