body {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hud {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
  }

  .message-board {
    width: 500px;
  }